@font-face {
  font-family: font;
  src: url('../all/font.ttf');
}
body {
	color: white;
	font-family: font;
	letter-spacing: -1px;
	margin: 0px;
	background-color: black;
}
.nav {
	background-color: white;
	display: block;
	width: 100%;
	text-align: center;
	height: 23px;
}
.nav span {
	padding: 3px;
}
button {
	border: 2px solid #00ff95;
	color: #00ff95;
	background-color: black;
	padding: 0px;
	font-family: font;
  padding: 5px;
}
.popupCloseButton {
	border: 0px solid #00ff95;
  margin-right: 5px;
  padding: 0px;
}
button:hover {
  color: #009959;
}
#terminallink {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.popup {
	width: 600px;
	height: 300px;
	border: 4px solid #00ff95;
	position: absolute;
	background-color: black;
	display: block;
}
.popupbody {
	overflow: hidden;
	overflow-y: auto;
	max-height: 270px;
}
.top {
	width: 100%;
	color: white;
	text-align: center;
	border-bottom: 4px solid #00ff95;
}
#preinput {
	color: #00ff95;
}
#terminalinput {
	color: #00ff95;
}
highlight {
	color: #00ff95;
}
#block {
	display: none;
}
termhead {
	display: block;
	background-color: black;
	color: white;
	width: 100%;
	height:auto;
	text-align: right;
}